@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&display=swap');

:root{
  --orange-color: #ff481d;
  --light-black: #000000c2;
  --black-color: #000000;
  --white-color: #ffffff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body{
  font-family: 'Bricolage Grotesque', sans-serif;
}
header{
  padding: 15px 80px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background 220ms ease-in;
  transition: padding 200ms ease-in;
  z-index: 999;
}
header.scrolled{
  background-color: var(--black-color);
  padding: 5px 80px;
}
header img{
  width: 230px;
}
header nav ul{
  font-size: 18px;
  letter-spacing: 0.3px;
  list-style: none;
  position: relative;
}
header nav ul li{
  display: inline;
  position: relative;
}
header nav ul li a{
  color: var(--white-color);
  text-decoration: none;
  margin: 17px;
}
header nav ul li a:hover{
  color:var(--orange-color);
}
header nav ul li .active{
  color:var(--orange-color);
}
header nav ul li a:after{
  content: "";
  position: absolute;
  background-color: var(--orange-color);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s ease-in-out;
}
header nav ul li a:hover:after{
  width: 100%;
}
.menu-bar{
  display: none;
  cursor: pointer;
}
.bar{
  display: block;
  height: 2px;
  margin: 6px 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: var(--white-color);
  border-radius: 5px;
}
.bar1{
  width: 16px;
}
.bar2{
  width: 25px;
}
.bar3{
  width: 16px;
  float: right;
  margin: 0;
}
.container{
  background-image: linear-gradient(45deg, #0000008f, rgba(0, 0, 0, 0.582)), url('../images/image-3.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  animation: animate 20s ease-in-out infinite;
}
@keyframes animate{
  0%, 100%{
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.582)), url('../images/image-1.jpeg');
  }
  25%{
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.582)), url('../images/image-2.jpg');
  }
  50%{
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.582)), url('../images/image-3.jpeg');
  }
  75%{
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.582)), url('../images/image-5.jpeg');
  }
}
main, .about-hero{
  text-align: center;
  width: 100%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white-color);
}
main h1{
  font-size: 5rem;
  letter-spacing: 0.3rem;
}
main h1 span{
  color: var(--orange-color);
}
main p{
  max-width: 600px;
  width: 90%;
  font-size: 1.5rem;
  margin: auto;
  margin-top: 20px;
  letter-spacing: 0.2rem;
}
main button{
  padding: 10px;
  font-size: 22px;
  border: none;
  margin-top: 30px;
  margin-right: 20px;
  color: var(--white-color);
  background-color: transparent;
  border: 2px solid var(--orange-color);
  cursor: pointer;
  font-family: 'Bricolage Grotesque', sans-serif;
}
.wrapper, .wrap{
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.582)), url('../images/image-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 103vh;
  position: relative;
}
.wrap{
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.582)), url('../images/causes-bg-1.jpeg');
}
.about-hero, .causes-hero{
  color: var(--orange-color);
}
.about-hero h2, .causes-hero h2{
  font-size: 7rem;
}
.about-hero hr, .causes-hero hr{
  display: block;
  width: 150px;
  margin: 0 auto;
  border: none;
  height: 2px;
  background-color: var(--orange-color);
  margin-bottom: 30px;
  font-weight: 100;
}
.about-hero p, .causes-hero p{
  font-size: 2rem;
  color: var(--orange-color);
}
.btn{
  position: relative;
  border-radius: 5px;
}
.btn1::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: var(--orange-color);
  transform: scale(0);
  transition: transform 300ms ease-in-out;
  color: var(--black-color);
}
.btn1:hover::before, 
.btn1:focus::before{
  transform: scale(1.5);
}
.btn1{
  z-index: 1;
  overflow: hidden;
  background-color:  transparent;
  letter-spacing: 1px;
}
.sec-1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 50px;
  padding: 80px 0px;
}
.sec-1 .info{
  max-width: 500px;
  width: 100%;
}
.sec-1 .info p span{
  color: var(--orange-color);
  font-weight: bold;
}
.sec-1 h3{
  font-size: 2.3rem;
  margin-bottom: 20px;
}
.sec-1 h2{
  font-size: 4rem;
  letter-spacing: 0.3rem;
  color: var(--orange-color);
  margin-bottom: 20px;
  word-wrap: break-word;
}
.sec-1 p{
  line-height: 1.3;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}
.sec-1 img{
  max-width: 500px;
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}
.bf-footer{
  background: linear-gradient(var(--light-black), var(--light-black)), url('../images/image-5.jpeg');
  color: var(--white-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 80px 0px;
}
.bf-footer h2{
  font-size: 3rem;
  color: var(--orange-color);
  letter-spacing: 0.2rem;
}
.bf-footer .mission p{
  width: 350px;
  font-size: 1.5rem;
  line-height: 1.3;
  letter-spacing: 0.2rem;
}
.bf-footer ul li{
  list-style: none;
}
.bf-footer ul li a{
  display: inline-block;
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.6rem;
  margin-bottom: 20px;
  transition: 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
.bf-footer ul li a:hover{
  color: var(--orange-color);
  transform: translateX(10px);
}
.bf-footer h3{
  font-size: 2.5rem;
  color: var(--orange-color);
  letter-spacing: 0.2rem;
}
.bf-footer hr{
  height: 2px;
  display: block;
  background-color: var(--orange-color);
  border: none;
  width: 60px;
  margin-bottom: 30px;
}
.bf-footer .contact p{
  font-size: 1.6rem;
  margin-bottom: 20px;
}
.bf-footer .contact p i{
  margin-right: 10px;
}
.bf-footer .contact div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.bf-footer .contact div i{
  width: 35px;
  height: 35px;
  font-size: 18px;
  margin-right: 8px;
  border: 2px solid var(--orange-color);
  transition: transform 0.3s ease-in-out;
}
.bf-footer .contact div i:hover{
  transform: translateY(8px);
}
.causes{
  padding: 80px 0;
}
.causes h2, .volunteer h2{
  text-align: center;
  font-size: 4rem;
  color: var(--orange-color);
}
.causes hr, .volunteer hr{
  height: 2px;
  display: block;
  background-color: var(--orange-color);
  border: none;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.causes-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
.causes-container img{
  width: 290px;
  height: 200px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}
.causes-container div{
  width: 290px;
  border-radius: 10px;
  padding-bottom: 20px;
  box-shadow: 1px 2px 5px 1px var(--black-color);
  transition: transform 0.3s ease-in-out;
}
.causes-container div:hover{
  transform: scale(1.04);
}
.causes-container h3{
  font-size: 2.1rem;
  padding: 10px;
  text-align: left;
}
.causes-container p{
  font-size: 1.5rem;
  text-align: left;
  padding: 0 10px 10px 10px;
  color: #7b7d7b;
  line-height: 1.5;
}
.causes-container a{
  display: block;
  text-decoration: none;
  color: var(--black-color);
  width: 270px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 15px 40px;
  font-size: 2rem;
  text-align: center;
  border: 2px solid var(--orange-color);
  border-radius: 5px;
  transition: background 0.5s ease-in-out;
  transition: color 0.1s ease-in-out;
}
.causes-container a:hover{
  background-color: var(--orange-color);
  color: var(--white-color);
}
.volunteer{
  background-color: var(--orange-color);
  padding: 80px 0;
}
.volunteer h2{
  color: var(--white-color);
}
.volunteer hr{
  background-color: var(--white-color);
}
.volunteer img{
  width: 300px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  height: 300px;
  object-fit: cover;
}
.volunteer h3, .volunteer p{
  text-align: center;
  color: var(--white-color);
}
.volunteer h3{
  font-size: 2.8rem;
  margin-top: 20px;
}
.volunteer p{
  font-size: 1.8rem;
  color: #efe8bb;
  margin-top: 10px;
}
.volunteer div{
  width: 300px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}
.volunteer div a, .contact div a{
  text-decoration: none;
}
.volunteer div i, .contact div i{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 35px;
  height: 35px;
  border: 1px solid var(--white-color);
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}
.volunteer div i:hover{
  transform: translateY(8px);
}
footer{
  background-color: #131212;
  padding: 30px 0;
  color: var(--white-color);
  text-align: center;
  font-size: 1.6rem;
}
footer p span{
  color: var(--orange-color);
}
@media (max-width: 990px){
  header{
    padding: 5px 10px;
  }
  header.scrolled{
    padding: 5px 10px;
  }
  header.active{
    background-color: var(--black-color);
  }
  /* header img{
    width: 200px;
  } */
  nav{
    position: relative;
  }
  nav ul li a.active{
    color: var(--white-color);
  }
  .menu-bar.active .bar:nth-child(2){
    opacity: 0;
}
  .menu-bar.active .bar:nth-child(1){
    width: 25px;
    transform: translateY(8px) rotate(45deg);
}
  .menu-bar.active .bar:nth-child(3){
    width: 25px;
    transform: translateY(-8px) rotate(-45deg);
}
  header nav ul{
    background-color: var(--black-color);
    position: absolute;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -400px;
    right: 0%;
    width: 100vw;
    padding-left: 20px;
    padding-top: 30px;
    z-index: 1;
    margin: 0;
    transition: top 0.4s ease-in-out;
  }
  header nav ul.active{
    top: 65px;
  }
  header nav ul li{
    margin: 17px 0;
    display: inline;
  }
  header nav ul li a:after{
    display: none;
  }
  header nav ul li a{
    transition: color 0.4s ease-in-out;
  }
  header nav ul li a:hover{
    color: var(--orange-color);
  }
  header nav ul li .active{
    color:var(--orange-color);
  }
  .menu-bar{
    display: block;
    margin-right: 25px;
  }
  .sec-1{
    margin: 0 20px;
  }
  .sec-1 .info{
    margin-bottom: 40px;
  }
}
@media (max-width: 730px){
  .bf-footer{
    display: block;
    padding-left: 30px;
    padding-right: 10px;
    margin: 0;
  }
  .bf-footer .mission{
    margin-bottom: 30px;
  }
  .bf-footer .mission p{
    margin: 0;
    max-width: 600px;
    width: 100%;
    line-height: 1.3;
  }
  .bf-footer .contact div{
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media (max-width: 500px){
  header{
    /* padding: 15px 5px; */
    background-color: var(--black-color);
  }
  header img{
    width: 180px;
  }
  main h1{
    font-size: 4.5rem;
  }
  main p{
    width: 98%;
  }
}
@media (max-width: 360px){
  main h1{
    font-size: 3.2rem;
  }
  main p{
    width: 90%;
    font-size: 1.2rem;
  }
  main button{
    padding: 10px;
    font-size: 15px;
    border: none;
    margin-top: 30px;
    margin-right: 20px;
    color: var(--white-color);
    background-color: transparent;
    border: 2px solid var(--orange-color);
    cursor: pointer;
    font-family: 'Bricolage Grotesque', sans-serif;
  }
}